LibraryApp/xml-resources/web-service-references/CalWS/wsdl/localhost_8080/CalculationWS/CalWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://CalculationWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CalculationWS/">

<xs:element name="getInfoByYear" type="tns:getInfoByYear"/>

<xs:element name="getInfoByYearResponse" type="tns:getInfoByYearResponse"/>

<xs:element name="rentBook" type="tns:rentBook"/>

<xs:element name="rentBookResponse" type="tns:rentBookResponse"/>

<xs:complexType name="rentBook">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfoByYear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfoByYearResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookInfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookInfo">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="isRented" type="xs:boolean"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>